@page {
    size: A5 portrait;
    margin: 1cm;
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    top: 9.9cm;
    text-align: center;
    font-size: 0.6cm;
}

.details {
    position: absolute;
    left: 4.5cm;
    top: 11cm;
    right: 0cm;
}

.machine {
    position: absolute;
    left: 0cm;
    top: 17.8cm;
    right: 0cm;
    font-size: 0.485cm;
    font-family: Courier;
    text-transform: uppercase;
}

.image {
    position: absolute;
    left: 0cm;
    top: 11cm;
    right: 9cm;
}

span.field {
    display: inline-block;
    padding-right: 0.5cm;
}
div.field {
    display: inline-block;
    padding-right: 0.5cm;
}


span {
    margin: 0;
}

.header {
    display: block;
    font-family: Arial;
    font-size: 0.15cm;
}

.value {
    display: block;
    font-size: 0.485cm;
    font-family: Courier;
    text-transform: uppercase;
}

span.last {
    display: block;
}

span.to-right {
    float: right;
}

.picture {
    position: absolute;
    left: 0cm;
    top: 9cm;
}