@(details: PassportDetails)

@passportMain {
<div class="details @details.t.cssClass">
    <span class="field">
        <p class="header">Type/Type</p>
        <p class="value">P</p>
    </span>
    <span class="field to-right">
        <p class="header">Passport No./Passeport No.</p>
        <p class="value">@details.passportNumber</p>
    </span>
    <span class="field to-right">
        <p class="header">Code of Issuing State/Code de l'Etar émetteur</p>
        <p class="value">@details.t.issuingState</p>
    </span>
    <span class="field last">
        <p class="header">Surname/Nom (1)</p>
        <p class="value">@details.familyName</p>
    </span>
    <span class="field last">
        <p class="header">Given names/Prénoms (2)</p>
        <p class="value">@details.givenName</p>
    </span>
    <span class="field last">
        <p class="header">Nationality/Nationalité (3)</p>
        <p class="value">@details.nationality</p>
    </span>
    <span class="field last">
        <p class="header">Date of birth/Date de naissance (4)</p>
        <p class="value">@details.efDateOfBirth</p>
    </span>
    <span class="field">
        <p class="header">Sex/Sexe (5)</p>
        <p class="value">@details.sex</p>
    </span>
    <span class="field to-right">
        <p class="header">Place of birth/Lieu de naissance (6)</p>
        <p class="value">@details.placeOfBirth</p>
    </span>
    <span class="field">
        <p class="header">Date of issue/Date de délivrance (7)</p>
        <p class="value">@details.efDateOfIssue</p>
    </span>
    <span class="field to-right">
        <p class="header">Authority/Authorité (8)</p>
        <p class="value">SPA</p>
    </span>
    <span class="field">
        <p class="header">Date of expiry/Date d'expiration (9)</p>
        <p class="value">@details.efDateOfExpiry</p>
    </span>
</div>
    <div class="machine">
        <div>@details.machineLine1</div>
        <div>@details.machineLine2</div>
    </div>
}