@(details: PassportDetails)

@passportMain {
<div class="title">
    <span>@details.t.title</span>
</div>
<div class="image">
    <img alt="@details.picture" src="@details.picture" width="100%"/>
</div>
<div class="details @details.t.cssClass">
    <span class="field">
        <span class="header">Type/Type</span>
        <span class="value">P</span>
    </span>
    <span class="field to-right">
        <span class="header">@details.t.passportNumberHeader</span>
        <span class="value">@details.passportNumber</span>
    </span>
    <span class="field to-right">
        <span class="header">Code of Issuing State/Code de l'Etar émetteur</span>
        <span class="value">@details.t.issuingState</span>
    </span>
    <span class="field last">
        <span class="header">Surname/Nom (1)</span>
        <span class="value">@details.familyName</span>
    </span>
    <span class="field last">
        <span class="header">Given names/Prénoms (2)</span>
        <span class="value">@details.givenName</span>
    </span>
    <span class="field last">
        <span class="header">Nationality/Nationalité (3)</span>
        <span class="value">@details.nationality</span>
    </span>
    <span class="field last">
        <span class="header">Date of birth/Date de naissance (4)</span>
        <span class="value">@details.efDateOfBirth</span>
    </span>
    <span class="field">
        <span class="header">Sex/Sexe (5)</span>
        <span class="value">@details.sex</span>
    </span>
    <span class="field to-right">
        <span class="header">Place of birth/Lieu de naissance (6)</span>
        <span class="value">@details.placeOfBirth</span>
    </span>
    <span class="field">
        <span class="header">Date of issue/Date de délivrance (7)</span>
        <span class="value">@details.efDateOfIssue</span>
    </span>
    <span class="field to-right">
        <span class="header">Authority/Authorité (8)</span>
        <span class="value">SPA</span>
    </span>
    <span class="field">
        <span class="header">Date of expiry/Date d'expiration (9)</span>
        <span class="value">@details.efDateOfExpiry</span>
    </span>
</div>
    <div class="machine">
        <div>@details.machineLine1</div>
        <div>@details.machineLine2</div>
    </div>
}