@(details: PassportDetails)

@pdfMain {
<div class="title">
    <span>@details.t.title</span>
</div>
<div class="image">
    <img alt="@details.picture" src="@details.picture" width="100%"/>
</div>
<div class="details @details.t.cssClass">
    <span class="field">
        <span class="header">@details.t.header("type")</span>
        <span class="value">P</span>
    </span>
    <span class="field to-right">
        <span class="header">@details.t.header("passportNumber")</span>
        <span class="value">@details.passportNumber</span>
    </span>
    <span class="field to-right">
        <span class="header">@details.t.header("issuingState")</span>
        <span class="value">@details.t.issuingState</span>
    </span>
    <span class="field last">
        <span class="header">@details.t.header("familyName")</span>
        <span class="value">@details.familyName</span>
    </span>
    <span class="field last">
        <span class="header">@details.t.header("givenName")</span>
        <span class="value">@details.givenName</span>
    </span>
    <span class="field last">
        <span class="header">@details.t.header("nationality")</span>
        <span class="value">@details.nationality</span>
    </span>
    <span class="field last">
        <span class="header">@details.t.header("dateOfBirth")</span>
        <span class="value">@details.dateOfBirthString</span>
    </span>
    <span class="field">
        <span class="header">@details.t.header("sex")</span>
        <span class="value">@details.sex</span>
    </span>
    <span class="field to-right">
        <span class="header">@details.t.header("placeOfBirth")</span>
        <span class="value">@details.placeOfBirth</span>
    </span>
    <span class="field">
        <span class="header">@details.t.header("dateOfIssue")</span>
        <span class="value">@details.dateOfIssueString</span>
    </span>
    <span class="field to-right">
        <span class="header">@details.t.header("authority")</span>
        <span class="value">SPA</span>
    </span>
    <span class="field">
        <span class="header">@details.t.header("dateOfExpiry")</span>
        <span class="value">@details.dateOfExpiryString</span>
    </span>
</div>
    <div class="machine">
        <div>@details.machineLine1</div>
        <div>@details.machineLine2</div>
    </div>
}